* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #222;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: #00abff;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid #00abff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #00abff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: 0.1rem;
  line-height: 38px;
  margin-bottom: 0.5rem;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0.5rem;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover,
button:focus {
  border-color: #888;
  color: #888;
  outline: 0;
}

footer {
  bottom: 0;
  color: #fff;
  margin: 50px 10px 5px 0;
  position: fixed;
  right: 0;
  text-shadow: 1px 1px 1px #000;
  z-index: 0;
}

h2 {
  margin: 10px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #00abff;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #00abff;
  height: 38px;
  margin: 15px;
  max-width: 80%;
  padding: 6px 10px;
  width: 100%;
}

input:focus {
  border: 1px solid #888;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 4.5rem;
  margin-top: 1.5rem;
  text-align: left;
}

option {
  align-items: center;
  background-image: url("../images/tick.png");
  background-position-x: center;
  background-position-y: -3px;
  background-repeat: no-repeat;
  display: flex;
  height: 42px;
  justify-content: space-evenly;
  width: 100%;
  z-index: -1;
}

.answers {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.background {
  background-image: url("../images/xray.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-filter: blur(14px);
  filter: blur(14px);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.formulaInfo {
  display: block;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1.5rem;
  text-align: left;
}

.legend {
  display: block;
  margin: auto;
  max-width: 100%;
  text-align: left;
  width: 480px;
}

.legendText {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 4.5rem;
  margin-top: 1.5rem;
  text-align: left;
}

.imageContainer {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  text-align: center;
  width: 480px;
}

.info {
  align-self: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #00abff;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 5rem;
  margin-top: 5rem;
  order: 2;
  padding: 20px;
  width: 80%;
  z-index: 2;
}

.inputs {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 480px;
}

.main {
  align-self: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #00abff;
  border-radius: 4px;
  color: #fff;
  margin-top: 10rem;
  order: 1;
  padding: 20px;
  text-align: center;
  width: 80%;
  z-index: 2;
}

.navigation {
  align-self: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #00abff;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 1000px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.patientImage {
  order: 1;
}

.radiationImage {
  order: 3;
}

.slider {
  order: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url("../images/radiation.svg");
  border: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.slider::-moz-range-thumb {
  background: url("../images/radiation.svg");
  border: 0;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.sliderBox {
  align-self: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #00abff;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 5rem;
  order: 3;
  padding: 20px;
  width: 80%;
  z-index: 2;
}

.sliderContainer {
  align-content: center;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.sliderImages {
  width: 50px;
}

.sliderInfo {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
}

.sliderResponse {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 80%;
}

.sliderText {
  color: #00abff;
  font-weight: bold;
  margin: 0 0 0 0.5rem;
}

.tickmarks {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: -23px;
  order: 4;
  padding-top: 0;
  width: 100%;
  width: 80%;
}

#answerDistance,
#answerIntensity,
#answermAs {
  color: #00abff;
  font-weight: bold;
  margin: 0 1rem 0 1rem;
  visibility: hidden;
}

#copyright {
  font-size: 0.9rem;
}

#distanceInputs {
  display: none;
}

#distanceLeadIn,
#intensityLeadIn,
#masLeadIn {
  visibility: hidden;
}

#heart {
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px black;
}

#intensityInputs,
#masInputs {
  display: none;
}

#ISLImage {
  border: 1px solid #00abff;
  border-radius: 4px;
  width: 100%;
}

#legendTitle,
#sliderTitle {
  text-align: center;
}

#nameColorChange {
  color: #00abff;
  margin: 0 0.5rem 0 0.5rem;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-text-stroke: 1px #00abff;
}

#titleColorChange {
  color: #00abff;
}
